# Python
*.pyc
__pycache__/
*.log
*.rasa

# Streamlit
streamlit/

# Environments
.env

# Virtualenv
venv/

QnA/Question-Answering-SQUAD/data
QnA/Question-Answering-SQUAD/results
QnA/

rasa/models/
train_intent_classify/models/
ui/histories
ui/models/common_intents/
ui/models/whisper_intents/
ui/services/intent_handlers/models

notebooks/skill_db_relax_20.json
notebooks/token_dist.json
assistant/data/*

skill_db_relax_20.json
token_dist.json