# Python
*.pyc
__pycache__/
*.log
*.rasa

# Streamlit
streamlit/

# # Environments
# .env

# Virtualenv
venv/

QnA/

rasa/models/
train_intent_classify/models/

ui/models/common_intents/
ui/models/whisper_intents/
ui/services/intent_handlers/models