pandas
rasa
streamlit
torch
transformers
pandasai
pymysql
pygame
gtts
packaging==20.9
# python3 -m pip install --upgrade pip setuptools wheelPyAudio
git+https://github.com/openai/whisper.git
nltk
pydub
sentence-transformers